<!DOCTYPE html>
<html>
  <head>
    <title>markovtextweb</title>
    <link href="css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <blockquote>
      {{#quotes}}
        <p>{{paragraph}}
      {{/quotes}}
    </blockquote>
    <hr>
    <a href="?">Reload</a>
  </body>
</html>
